@using CLL
@model BDO.Core.DataAccessObjects.Models.backupEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Backup";
}

<style>
    .customcardheader {
        font-size: xx-large !important;
        font-weight: 700 !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <div class="col d-flex">
                    <h6 class="card-title customcardheader">Back Up File</h6>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="POST" id="frmBackup" class="my-login-validation" novalidate="" autocomplete="off">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="labelNormal" asp-for="backuptype"></label>
                                    <select class="form-select" id="backuptype">
                                        <option value="DB" selected>Database</option>
                                    </select>
                                    <span asp-validation-for="backuptype" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="labelNormal" asp-for="filepath"></label>
                                    <input type="text" style="display:none;" />
                                    <input asp-for="filepath" class="form-control" autocomplete="off" placeholder="Enter folder path here" />
                                    <span asp-validation-for="filepath" class="filepatherror text-danger " id="filepatherror"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row btn-toolbar">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <button type="submit" id="btnStartBackup" class="btn btn-primary btn-md">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                             Start Backup
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section Scripts {
    <script>
        function RedirectToLanding(params) {
            if (typeof params != 'undefined')
                window.location.href = params;
        }
        $(function () {
            document.getElementById("filepath").setAttribute("autocomplete", "off");
            $('body').on('click', '#btnStartBackup', function (e) {
            try {
                e.preventDefault();
                if (_cusFormValidate('frmBackup')) {
                    var dataobject = {
                        backuptype: $("#backuptype").val(),
                        filepath: $("#filepath").val(),
                    };
                    ajaxPostObjectHandler("/Backup/SaveDatabaseBackup", dataobject, function (response) {

                        console.log(response)
                        if (response.responsestatus == "success") {
                                showSuccessAlert("Success", response.responsetext, "OK", RedirectToLanding, "/Backup/LandingBackup");
                        }
                    }, true);
                }

            } catch (e) {
                showErrorAlert("Error", e.message, "OK");
            }
        });
     });
    </script>
}



