@using CLL
@model BDO.Core.DataAccessObjects.Models.gen_unitEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Add View Gen Unit";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("ADD_GEN_UNIT")</h5>
            </div>
            <!-- /.card-header -->
            <form method="POST" id="frmAddGen_Unit" class="my-login-validation" novalidate="" autocomplete="off">
                <div class="card-body">
                    <div class="row ">
                        <input asp-for="unitid" type="hidden" />
                        @* 						 <div class="col-md-6">
                        <div class="form-group">
                        <label class="labelNormal required " asp-for="unit"></label>
                        @await Component.InvokeAsync("S2None", new { selectid = "userid", preloaded = ViewBag.preloadedDatanone , isReadOnly = false, multiple = false, isRequired = true, pkey = -99 })
                        <span asp-validation-for="userid" class="useriderror text-danger " id="useriderror"></span>
                        </div>
                        </div> *@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="unit"></label>
                                <input asp-for="unit" class="form-control" required />
                                <span asp-validation-for="unit" class="uniterror text-danger " id="uniterror"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal  " asp-for="unitcode"></label>
                                <input asp-for="unitcode" class="form-control" />
                                <span asp-validation-for="unitcode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="labelNormal" asp-for="file"></label>
                            <input asp-for="file" class="form-control" />
                            <span asp-validation-for="file" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row btn-toolbar">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <button type="submit" id="btnAddGen_Unit" class="btn btn-primary btn-md"><i class="fa fa-save"></i> @SharedLocalizer.GetLocalizedHtmlString("SUBMIT_REQUEST")</button>
                                <button id="btnGoBackGen_Unit" class="btn btn-secondary btn-md "><i class="fas fa-arrow-circle-left"></i> @SharedLocalizer.GetLocalizedHtmlString("GO_BACK")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ./card-body -->
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">

                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
@section Scripts {
 @*    <script>
        $(function () {
            var LandingGen_UnitInfo = "/Gen_Unit/LandingGen_Unit";

            function RedirectToLanding(params) {
                if (typeof params != 'undefined')
                    window.location.href = params;
            }

            // Get the template HTML and remove it from the doument
            var previewNode = document.querySelector("#template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);

            // Initialize Dropzone but prevent automatic upload
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone(document.body,
                {
                    url: "/Gen_Unit/AddGen_Unit",  // API endpoint
                    method: "post",
                    paramName: "files",  // The name for the files being uploaded
                    uploadMultiple: true,  // Allow multiple file uploads
                    //maxFilesize: 5,  // Max file size in MB
                    parallelUploads: 5,  // Number of files to upload in parallel
                    autoProcessQueue: false,  // Don't upload files immediately
                    addRemoveLinks: true,
                    acceptedFiles: ".jpeg,.jpg,.png,.gif",
                    thumbnailWidth: 60,
                    thumbnailHeight: 60,
                    previewTemplate: previewTemplate,
                    previewsContainer: "#previews",
                    clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
                    init: function () {
                        var dropzoneInstance = this;


                        var dataobject = {
                            unitid: $("#unitid").val(),
                        };

                        // On form submission
                        document.querySelector("#btnAddGen_Unit").addEventListener("click", function (e) {
                            e.preventDefault();
                            if (_cusFormValidate('frmAddGen_Unit')) {
                                $.blockUI();
                                var formData = new FormData();
                                formData.append("unitid", $("#unitid").val());
                                formData.append("unit", $("#unit").val());
                                formData.append("unitcode", $("#unitcode").val());
                                formData.append("ex_nvarchar3", $("#ex_nvarchar3").val());                                

                                if (dropzoneInstance.getQueuedFiles().length = 1) {
                                    dropzoneInstance.processQueue();
                                    //  dropzoneInstance.on("queuecomplete", function () {

                                    let index = 0;
                                    dropzoneInstance.getAcceptedFiles().forEach(file => {
                                        // var descriptionInput = file.previewElement.querySelector(".file-description");
                                        // console.log(descriptionInput.value)
                                        // if (descriptionInput.value)
                                        //     formData.append("postedFiles[" + index + "].fileDescription", descriptionInput.value);
                                        // else
                                        //     formData.append("postedFiles[" + index + "].fileDescription", "");
                                        formData.append("postedFiles[" + index + "].file", file);
                                        formData.append("file", file);
                                        index++;
                                    });

                                    SubmitFormData(formData);
                                    //   });
                                }
                                else {
                                    SubmitFormData(formData);
                                }
                            }

                        });

                        function SubmitFormData(formData) {

                            ajaxPostObjectHandlerWithFiles("/Gen_Unit/AddGen_Unit", formData, function (response) {
                                $.unblockUI();
                                if (response._ajaxresponse.responsestatus == "success") {
                                    showSuccessAlert("Success", response._ajaxresponse.responsetext, "OK", RedirectToLanding, LandingGen_UnitInfo);
                                }
                            }, false);
                        }

                    }

                });
        })



    </script> *@
    <script src="~/lib/customjs/Gen_Unit/Gen_Unit.js"></script>
}





