@using CLL
@model BDO.Core.DataAccessObjects.SecurityModels.owin_userEntity
@inject CLL.Localization.LocalizeService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD");
}



@*https://stackoverflow.com/questions/5474460/get-displayname-attribute-of-a-property-in-strongly-typed-way*@

<div class="row">
    <div class="col col-md-12">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        <div class="brand">
                            <img src="~/img/logo.jpg" alt="logo">
                        </div>
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title"> @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD")</h4>
                                <form method="POST" id="frmresetpassword" class="my-login-validation" novalidate="">

                                    <div class="form-group">
                                        <input asp-for="code" type="hidden" />
                                        <label class="labelNormal required " asp-for="emailaddress"></label>
                                        <input asp-for="emailaddress" class="form-control" />
                                        <span asp-validation-for="emailaddress" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="labelNormal required " asp-for="newpassword"></label>
                                        <input asp-for="newpassword" class="form-control" />
                                        <span asp-validation-for="newpassword" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="labelNormal required " asp-for="confirmpassword"></label>
                                        <input asp-for="confirmpassword" class="form-control" />
                                        <span asp-validation-for="confirmpassword" class="text-danger"></span>
                                    </div>

                                    <div class="form-group m-0">
                                        <button type="submit" id="btnresetpassword" class="btn btn-primary btn-block">
                                            @SharedLocalizer.GetLocalizedHtmlString("SUBMIT_REQUEST");
                                        </button>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
