@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@using Microsoft.AspNetCore.Authorization
@using CLL.Localization
@inject IAuthorizationService AuthorizationService
@inject CLL.Localization.LocalizeService SharedLocalizer

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{

}

<div class="row dvPACIService" id="dvPACIService">
    <div class="col-md-12 ">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">الهيئة العامة للمعلومات المدنية</h3>
            </div>
            <div class="card-body pnlpaci">
                <div class="pacimsg"></div>
                <div class="pnlpacidetails hidden">
                    <div class="row">
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الرقم المدني</label>
                                <input id="txtpacivilid" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الاسم الكامل</label>
                                <input id="txtpacifullname" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">تاريخ الميلاد</label>
                                <input id="txtpacidob" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الحالة</label>
                                <input id="txtpacipersonstatus" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">حالة العمل</label>
                                <input id="txtpacijobstatus" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">المؤهل الدراسي</label>
                                <input id="txtpacieducation" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الرقم المدني للأب</label>
                                <input id="txtpacipersonfathercivilid" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-6 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">حالة الأب</label>
                                <input id="txtpacifatherstatus" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الرقم المدني للأم</label>
                                <input id="txtpacimothercivilid" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الاسم الكامل للأم</label>
                                <input id="txtpacimotherfullname" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">حالة الأم</label>
                                <input id="txtpacimotherstatus" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="panel panel-default" runat="server">
                            <div class="panel-heading" style="background-color: #428bca">
                                <label class="labelNormal">العنوان ومعلومات الاتصال</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">المحافظة</label>
                                <input id="txtpacigovernorate" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">المنطقة</label>
                                <input id="txtpacidistrict" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">القطعة</label>
                                <input id="txtpaciblock" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">رقم الوحدة</label>
                                <input id="txtpaciplot" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">الشارع</label>
                                <input id="txtpacistreet" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">قم البناية</label>
                                <input id="txtpacibuilding" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">رقم الوحدة</label>
                                <input id="txtpaciunitno" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">نوع الوحدة</label>
                                <input id="txtpaciunittype" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-4 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">طابق</label>
                                <input id="txtpacifloorno" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">رقم الهاتف</label>
                                <input id="txtpacitelephone1" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-lg-6 col_lg">
                            <div class="form-group">
                                <label class="labelNormal">رقم الهاتف</label>
                                <input id="txtpacitelephone2" type="text" class="form-control textboxNormalLeftAligned inputField" disabled="disabled" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
