@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Wrapper. Contains page content -->
@*@await Component.InvokeAsync("DashBoard", new { headertag = "headertag" })*@
<!-- /.content-wrapper -->

@*hello*@
@*<div id="activeuserlist"></div>*@

<script>
    $(function () {

        var redirectFlag = @Json.Serialize(ViewBag.RedirectFlag);

        if (redirectFlag) {
            $.get("/Account/ChangePassword", function (response) {
                _cusTriggerModal("modal-common", response);
            });
         // window.location.href = "/Gen_EventInfo/ForcedPasswordChange";

        //      ajaxGetHandler("/Account/ChangePassword", { returnUrl: "/" }, function (response) {
        //     _cusTriggerModal("modal-common", response);
        // }, false, false);

        }
        else window.location.href = "/Gen_EventInfo/AddGen_EventInfo";
    });
</script>