@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Wrapper. Contains page content -->
@*@await Component.InvokeAsync("DashBoard", new { headertag = "headertag" })*@
<!-- /.content-wrapper -->

@*hello*@
@*<div id="activeuserlist"></div>*@

<script>
    $(function () {
        window.location.href = "/Gen_EventInfo/AddGen_EventInfo";
    })
</script>